// ============================================================================
//  @section btn
// ============================================================================

.btn {
    cursor: pointer;

    @extend %indent-2-1, %border-none, %outline-none, %bg-none, %color-white;
    @extend %display-inline-block, %vertical-align-middle, %position-relative;
    @extend %letter-spacing-normal, %line-height;

    &-group {
        @extend %letter-spacing-clear;
    }
    &-block {
        @extend %width, %display-block;

        & + & {
            @extend %margin-top-4;
        }
    }
    &-small {
        @extend %indent-4-1, %font-size-08x;

        &-extra.btn {
            @extend %indent-4-2, %font-size-07x;

            &.btn-icon {
                @extend %font-size-05x;

                &.btn-border {
                    .fa {
                        @extend %font-size-1-5x;
                    }
                }
            }
        }
    }
    &-large {
        @extend %font-size-1-4x;

        &-extra {
            @extend %font-size-1-6x;
        }
    }
    &-icons {
        &-static {
        }
    }
    &-icon {
        top: 50%;

        @extend %line-height-inherit, %transform-center, %position-absolute;

        &-left {
            left: indent();

            @extend %float-left;
        }
        &-right {
            right: indent();

            @extend %float-right;
        }
        &-center {
            left: 50%;
        }
        &-static {
            @extend %position-static;

            transform: translate(0);
        }
        &:before {
            top: 50%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &.btn-circle {
            // width: 1em;
            // height: 1em;
        }
    }
    &-round { // круглый
        border-radius: 9999em;
    }
    &-circle { // круг
        width: 3em; // font 1em + left and right 1em
        height: 3em;

        @extend %border-radius-round, %text-center;
    }
    //&-round &-icon {
    //    top: 50%;
    //    left: 50%;
    //
    //    @extend %transform-center, %position-absolute;
    //}
    &-border {
        border: 1px solid;
    }
    &-default {
        color: inherit;

        @extend %bg-transparent;
    }
    &-link {
        @extend %link;
    }
    &-grey {
        &, &-light, &-dark {
            @extend %color-black;
        }
    }
    &-action {
        @extend %action;
    }
    @each $name, $color in $ui-colors {
        $name: str-replace($name, 'color-');

        &-#{$name} {
            background-color: $color;

            &:hover {
                background-color: darken($color, 5%);
            }
            &:active {
                background-color: darken($color, 10%);
            }

            //@at-root .btn-block#{&} {
            //    $index: str-replace($name, '-light');
            //    $index: str-replace($index, '-dark');
            //    $index: str-replace($index, '-semidark');
            //
            //    border-bottom: indent(4) solid map-get($ui-colors, color-#{$index}-dark);
            //}
        }
    }
}