// ============================================================================
//  @section btn
// ============================================================================

.btn {
    cursor: pointer;

    @extend %indent-2-1, %border-none, %outline-none, %bg-none, %color-white;
    @extend %display-inline-block, %vertical-align-middle, %position-relative;
    @extend %letter-spacing-normal, %line-height;

    &-group {
        @extend %letter-spacing-clear;
    }
    &-block {
        @extend %width, %display-block;

        & + & {
            @extend %margin-top-4;
        }
    }
    &-small {
        @at-root {
            .btn#{&} {
                @extend %indent-4-1, %font-size-08x;
            }
        }
        &-extra {
            @at-root {
                .btn#{&} {
                    @extend %indent-4-2, %font-size-07x;
                }
            }

            //&.btn-icon {
            //    @extend %font-size-05x;
            //
            //    &.btn-border {
            //        .fa {
            //            @extend %font-size-1-5x;
            //        }
            //    }
            //}
        }
    }
    &-large {
        @extend %font-size-1-4x;

        &-extra {
            @extend %font-size-1-6x;
        }
    }
    &-icon {
        left: 50%;
        transform: translate(0, -50%);

        //@extend %transform-center;

        @at-root {
            .btn#{&} {
                // @extend %height;
                // @extend %color-inherit;
            }
        }
        &-left {
            left: 0;
        }
        &-right {
            left: auto;
            right: 0;
        }
        &-center {
            @at-root {
                .btn#{&} {
                    left: 50%;

                    @extend %transform-center;
                }
            }
        }
        &-static {
            @at-root {
                .btn#{&} {
                    transform: none;

                    @extend %position-static;
                }
            }
        }
        &, &:before {
            top: 50%;

            @extend %position-absolute, %line-height-inherit;
        }
        &:before {
            left: 50%;

            @extend %transform-center;
        }
    }
    &-round {
        border-radius: 9999em;
    }
    &-circle {
        width: 3em; // font 1em + left and right 1em
        height: 3em;

        @extend %border-radius-round, %text-center;

        //&.btn-icon {
        //    top: 50%;
        //    left: 50%;
        //
        //    @extend %transform-center, %position-absolute;
        //}
    }
    &-border {
        border: 1px solid;
    }
    &-default {
        color: inherit;

        @extend %bg-transparent;
    }
    &-link {
        @extend %link;
    }
    &-grey {
        &, &-light, &-dark {
            @extend %color-black;
        }
    }
    &-action {
        @extend %action;
    }
    @each $name, $color in $ui-colors {
        $name: str-replace($name, 'color-');

        &-#{$name} {
            background-color: $color;

            &:hover {
                background-color: darken($color, 5%);
            }
            &:active {
                background-color: darken($color, 10%);
            }
            @at-root .btn-line#{&} {
                $index: str-replace($name, '-light');
                $index: str-replace($index, '-dark');
                $index: str-replace($index, '-semidark');

                border-bottom: indent(4) solid map-get($ui-colors, color-#{$index}-dark);
            }
        }
    }
    & > &-icon.btn {
        width: 2em;
        height: 2em;

        @extend %padding-none;

        //&:before {
        //    @extend %font-size-1-3x;
        //}
    }
}