// ============================================================================
//  @section cart
// ============================================================================


.cart {
    &-heading {

    }
    &-body {

    }
    &-footer {

    }
}