// ============================================================================
//  @section color
// ============================================================================

.color {
    @each $name, $color in $ui-colors {
        $name: str-replace($name, 'color-');

        &-#{$name} {
            color: $color;
        }
    }

    &-white {
        @extend %color-white;
    }
}

.bg-color {
    @each $name, $color in $ui-colors {
        $name: str-replace($name, 'color-');

        &-#{$name} {
            background-color: $color;
        }
    }

    &-white {
        @extend %bg-white;
    }
}