// ============================================================================
//  @section dropdown
// ============================================================================

$dropdown-min-width: rem(263);
$dropdown-divider-color: #f0f0f0;
$dropdown-hover-color: #f0f0f0;
$dropdown-icon-width: 1.5em;
$dropdown-icon-color: #808080;
$dropdown-icon-hover-color: darken($dropdown-icon-color, 20%);

.dropdown {
    @extend %position-relative, %display-inline-block;

    &-toggle {

    }
    &-menu {
        z-index: 1;
        top: calc(100% + 5px);
        left: 0;
        min-width: $dropdown-min-width;
        box-shadow: 0 0 indent() rgba($color-black, .3);
        // border-top-left-radius: 0;

        @extend %position-absolute, %display-none, %reset, %overflow-hidden, %border-radius-3;

        &-right {
            left: auto;
            right: 0;
            // border-top-left-radius: indent(3);
            // border-top-right-radius: 0;
        }

        li {
            @extend %display-block, %indent-0-2, %bg-transparent, %transition-fast;

            + li {
                > a {
                    border-top: 1px solid $dropdown-divider-color;
                }
            }
            &:hover, &.active {
                background-color: $dropdown-hover-color;

                + li {
                    > a {
                        border-color: transparent;
                    }
                }
                > a {
                    border-color: transparent;
                }
                i {
                    color: $dropdown-icon-hover-color;
                }
            }
        }
        a {
            @extend %display-block, %indent-2, %color-inherit, %text-nowrap, %transition-fast;

            &:hover {
                @extend %color-inherit, %text-decoration-none;
            }
        }
        i {
            width: $dropdown-icon-width;
            color: $dropdown-icon-color;
        }
    }
    &.open &-menu {
        @extend %display-block;
    }
}