.form-control {
    @extend %border-radius-4, %indent-3-1, %box-shadow-none, .text-3;
    @include form-control-element(map_get($controls-color, 'default'));

    &.input {
        &-circle {
            border-radius: 9999em;
        }

        &-bold {
            @extend .header-medium;
            font-size: $header-3;
            border: 3px solid;
        }
    }
}

@each $name, $color in $controls-color {
    $name: str-replace($name, 'color-');

    .has-#{$name} {
        @include form-control-validation($color);
    }
}

.has-light {
    .form-control {
        @extend .header-medium, .color-light !optional;
    }
}