// ============================================================================
//  @section header
// ============================================================================

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
}

h1, .h1 {
    font-size: $header-1;
    font-weight: 500;
}

h2, .h2 {
    font-size: $header-2;
    font-weight: 400;
}

h3, .h3 {
    font-size: $header-3;
    font-weight: 400;
}

h4, .h4 {
    font-size: $header-4;
    font-weight: 400;
}

.h-extra-bold, .header-extra-bold {
    font-weight: 900;
}

.h-bold, .header-bold {
    font-weight: 700;
}

.h-medium, .header-medium {
    font-weight: 500;
}

// Names from UI Kit

$eg-max-ui-header: 11;

.header-1 {
  @extend .h1, .header-extra-bold;
}

.header-11 {
  @extend .h1, .header-extra-bold;
  @include event-link(map-get($ui-colors, 'color-light'), map-get($ui-colors, 'color-grey-light'));
}

.header-2 {
  @extend .h2, .header-extra-bold;
  color: map-get($ui-colors, 'color-orange-dark');
}

.header-3 {
  @extend .h2, .header-extra-bold;
  @include event-link(map-get($ui-colors, 'color-light'), map-get($ui-colors, 'color-grey-light'));
}

.header-4 {
  @extend .h2, .header-extra-bold;
  @include event-link(map-get($ui-colors, 'color-dark-light'), map-get($ui-colors, 'color-dark-dark'), map-get($ui-colors, 'color-black'));
}

.header-5 {
  @extend .h3, .header-bold;
}

.header-6 {
  @extend .h3, .header-medium;
  @include event-link(map-get($ui-colors, 'color-light'), map-get($ui-colors, 'color-grey-light'), map-get($ui-colors, 'color-orange-light'));
}

.header-7 {
  @extend .h3, .header-extra-bold;
}

.header-8 {
  @extend .h3;
  @include event-link(map-get($ui-colors, 'color-black'), map-get($ui-colors, 'color-dark-light'), map-get($ui-colors, 'color-orange-dark'));

  &:focus {
    @extend .header-bold;
  }
}

.header-9 {
  @extend .h4, .header-extra-bold;
}

.header-10 {
  @extend .h4, .header-bold;
}

// Временное решение с отступами, уточнить у дизайнеров как будут формироваться отступы
@for $i from 1 through 6 {
  h#{$i}, .h#{$i} {
    display: block;
    margin: indent() 0;
  }
}

@for $i from 1 through $eg-max-ui-header {
  a.header-#{$i} {
    @extend %text-decoration-none;
  }
}