// ============================================================================
//  @section nav
// ============================================================================

.nav {
    @at-root {
        ul#{&} {
            @extend %reset;
        }
    }
    &-vertical.nav {
        li {
            @extend %display-block, %width;
        }
    }
    &-horizontal.nav, &.navbar-nav {
        @extend %ul-inline-block;

        > ul {
            @include make-row();
        }
        li {
            ul {
                @extend %display-none;
            }
        }
    }
    > ul {
        @extend %reset;
    }
    a {
        @extend %display-block, %indent-4-1;
    }
}