// ============================================================================
//  @section navbar
// ============================================================================

.navbar {
    @extend %clearfix;
    &-nav {
        float: left;

        @at-root {
            .nav#{&} {
                a {
                    @extend %indent-2-1;
                }
            }
        }
    }
    &-right {
        float: right;
    }
}