// ============================================================================
//  @section panel
// ============================================================================

$panel-border-color: #cbcbcb;
$panel-border-radius: indent(3);

.panel {
    border: 1px solid $panel-border-color;

    @extend %position-relative, %border-radius-3, %margin-1, %width;

    &-border {
        &-none {
            @at-root {
                .panel#{&} {
                    @extend %border-none;
                }
            }
        }
    }
    &-heading {
        @extend %indent, %clear-both, %position-relative;

        &-border {
            border-bottom: 1px solid $panel-border-color;
        }
        &-gradient {
            border-top-left-radius: $panel-border-radius;
            border-top-right-radius: $panel-border-radius;

            @extend %gradient;
        }
        &-background {
            background-color: #d3d3d3;
        }
        &-line {
            &:before {
                bottom: 0;
            }
        }
    }
    &-heading &-title {
        @extend %font-size-1-2x, %margin-none;
    }
    &-title {
        @extend %font-weight-bold, %margin-top-none, %margin-0-2, %color-inherit;
    }
    &-body {
        @extend %indent, %clearfix, %position-relative;
    }
    &-footer {
        @extend %indent, %clear-both, %position-relative;

        &-border {
            border-top: 1px solid $panel-border-color;
        }
        &-gradient {
            border-bottom-left-radius: $panel-border-radius;
            border-bottom-right-radius: $panel-border-radius;

            @extend %gradient;
        }
        &-background {
            background-color: #d3d3d3;
        }
        &-line {
            &:before {
                top: 0;
            }
        }
    }
    &-thumbnail {
        img {
            max-width: 100%;

            @extend %display-block, %block-center;
        }
    }
    &-heading, &-footer {
        &-line {
            &:before {
                content: '';
                border-bottom: 1px solid $panel-border-color;
                width: calc(100% - #{indent() * 2});
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);

                @extend %position-absolute;
            }
        }
    }
    &-cart {
        &-vertical {

        }
        &-horizontal {
            // @extend %display-table;
        }
    }
    &-cart-horizontal &-thumbnail {
        img {
            max-width: rem(260);
        }
    }
    &-cart-horizontal &-footer {
        bottom: 0;
        right: 0;

        @extend %position-absolute, %indent-2;
    }
    &-cart-horizontal &-thumbnail,
    &-cart-horizontal &-body {
        @extend %display-table-cell, %vertical-align-top;
    }
}