a {
  cursor: pointer;
}

p {
  margin: 0 0 5px 0;
}

.link {
  @extend %text-decoration-underline;
  @include event-link(map-get($ui-colors, 'color-orange-dark'), map-get($ui-colors, 'color-orange-dark'), map-get($ui-colors, 'color-orange-dark'), underline);
  font-size: $font-size-base;
}

.link-action {
  @extend .link;
  @include event-link(map-get($ui-colors, 'color-dark-light'), map-get($ui-colors, 'color-dark-light'), map-get($ui-colors, 'color-dark-light'), underline);
}

.text-extra-bold {
  font-weight: 900;
}

.text-bold {
  font-weight: 700;
}

.text-medium {
  font-weight: 500;
}

.text-regular {
  font-weight: 400;
}

.text-italic {
  font-style: italic;
}

.price-lg, .price-1 {
  @extend .text-extra-bold;
  @include event-link(map-get($ui-colors, 'color-orange-dark'), map-get($ui-colors, 'color-orange-semidark'));
  font-size: $price-1;
}

.price-md, .price-3 {
  @extend .price-lg, .text-bold;
  font-size: $price-3;
}

.price-sm, .price-2 {
  @extend .price-lg, .text-regular;
  font-size: $price-2;
}

.price-xs, .price-4 {
  @extend .price-lg, .text-bold;
  font-size: $price-4;

  &.active,
  &:focus {
    @extend .text-regular;
  }
}

.text-lg {
  font-size: $font-size-lg;
}

.text-md {
  font-size: $font-size-md;
}

.text-sm {
  font-size: $font-size-sm;
}

.text-xs {
  font-size: $font-size-xs;
}

.text-extra-lg {
  @extend .text-bold;
  font-size: 108px;
}

.text-extra-md {
  @extend .text-bold;
  font-size: 76px;
}

// Names from UI Kit

.text-1 {
  @extend .text-lg, .color-black !optional;
}

.text-2 {
  @extend .text-md,.text-medium, .color-grey-semidark !optional;
}

.text-3 {
  @extend .text-md, .color-grey-semidark !optional;
}

.text-4 {
  @extend .text-md, .color-black !optional;
}

.text-5 {
  @extend .text-lg, .color-light !optional;
}

.text-6 {
  @extend .text-lg, .text-italic, .color-light !optional;
}

.text-7 {
  @extend .text-sm, .color-light !optional;
}

.text-8 {
  @extend .text-sm, .color-grey-semidark !optional;
}

.text-9 {
  @extend .text-md, .text-bold, .color-light !optional;
}

.text-10 {
  @extend .text-lg, .text-italic, .color-grey-semidark !optional;
}

.text-11 {
  @extend .text-sm, .color-black !optional;
}

.text-small-1 {
  @extend .text-xs, .color-grey-light !optional;
}

.text-small-2 {
  @extend .text-xs, .text-bold, .color-black !optional;
}

.text-small-3 {
  @extend .text-xs, .color-light !optional;
}