$font-path-proxima: '/bundles/edugetfrontend/fonts/proxima_nova_temp/';

@font-face {
  font-family: $font-family-proxima;
  font-weight: 400;
  src: url($font-path-proxima + 'Proxima_Nova_Regular.otf') format('opentype');
}

@font-face {
  font-family: $font-family-proxima;
  font-weight: 400;
  font-style: italic;
  src: url($font-path-proxima + 'Proxima_Nova_Regular Italic.otf') format('opentype');
}

@font-face {
  font-family: $font-family-proxima;
  font-weight: 500;
  src: url($font-path-proxima + 'Proxima_Nova_Medium.otf') format('opentype');
}

@font-face {
  font-family: $font-family-proxima;
  font-weight: 700;
  src: url($font-path-proxima + 'Proxima_Nova_Bold.otf') format('opentype');
}

@font-face {
  font-family: $font-family-proxima;
  font-weight: 900;
  src: url($font-path-proxima + 'Proxima_Nova_Extrabold.otf') format('opentype');
}