@mixin form-control-element($color) {
  $form-control-element-color: map_get($color, 'inactive');
  $form-control-element-hover: map_get($color, 'hover');
  $form-control-element-focus: map_get($color, 'focus');
  $form-control-element-disable: map_get($color, 'disable');
  $form-control-element-background-color: map_get($color, 'bg');

  border-color: $form-control-element-color;
  background-color: $form-control-element-background-color;
  @include box-shadow(none);

  &:hover {
    border-color: $form-control-element-hover;
    @include box-shadow(none);

    & + .input-group-addon {
      border-color: $form-control-element-hover;
      background-color: $form-control-element-hover;
    }
  }

  &:focus {
    border-color: $form-control-element-focus;
    @include box-shadow(none);

    & + .input-group-addon {
      border-color: $form-control-element-focus;
      background-color: $form-control-element-focus;
    }
  }

  &:disabled {
    border-color: $form-control-element-disable;
    @include box-shadow(none);

    & + .input-group-addon {
      border-color: $form-control-element-disable;
      background-color: $form-control-element-disable;
    }
  }

  & + .input-group-addon {
    @include transition(border-color ease-in-out .15s, background-color ease-in-out .15s);
  }
}

@mixin form-control-validation($color) {
  $form-control-text-color: map_get($color, 'text');
  $form-control-border-color: map_get($color, 'inactive');

  // Color the label and help text
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label  {
    color: $form-control-text-color;
  }
  // Set the border and box shadow on specific inputs to match
  .form-control {
    @include form-control-element($color);
  }
  // Set validation states also for addons
  .input-group-addon {
    color: map_get($color, 'bg');
    border-color: $form-control-border-color;
    background-color: $form-control-border-color;
  }
  // Optional feedback icon
  .form-control-feedback {
    color: $form-control-text-color;
  }
}