// ============================================================================
//  @section function
// ============================================================================

@function to-string($value) {
    @return inspect($value);
}

@function str-replace($string, $search, $replace: '') {
    $index: str-index(to-string($string), to-string($search));

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}