// ============================================================================
//  @section helper
// ============================================================================

// Helpers

.m-none {
    margin: 0;
}

.mt-none {
    margin-top: 0;
}

.mb-none {
    margin-bottom: 0;
}

.text-center {
    @extend %text-center;
}

.width {
    @extend %width;
}

.clear {
    @extend %clear-both;
}

// Test

small {
    font-size: .75em;
    vertical-align: bottom;
}

body {
    padding-bottom: 20em !important;
}

.uikit {
    &-section {
        @extend %indent-2x-0, %clearfix, %clear-both;
    }
    &-title {
        color: #cccccc;
        border-bottom: 1px solid #cccccc;

        @extend %font-size-3x, %font-weight-bold, %clear-both, %margin-2x;
    }
}