// ============================================================================
//  @section mixin
// ============================================================================

%link {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

%action {
  color: $action-color;

  &:hover {
    color: $action-hover-color;
  }
}