@mixin event-link($color, $color-hover, $color-focus: false, $decoration: none, $decoration-hover: none, $decoration-focus: none) {
  @if not $color-focus {
    $color-focus: $color-hover;
  }

  color: $color;
  text-decoration: $decoration;

  &:hover {
    color: $color-hover;
    text-decoration: $decoration-hover;
  }

  &.active,
  &:focus {
    color: $color-focus;
    text-decoration: $decoration-focus;
    outline: none;
  }
}