$ui-colors: (
        color-light: #ffffff,
        color-orange: #d08b06,
        color-orange-light: #e39704,
        color-orange-semidark: #bf8104,
        color-orange-dark: #a66f04,
        color-green: #7aa313,
        color-green-light: #8cb623,
        color-green-dark: #718f25,
        color-grey: #b3b3b3,
        color-grey-light: #cbcbcb,
        color-grey-semidark: #808080,
        color-grey-dark: #999999,
        color-red: #bf5d54,
        color-red-light: #d9695f,
        color-red-dark: #a65149,
        color-dark: #666666,
        color-dark-light: #808080,
        color-dark-dark: #515151,
        color-black: #262626
);

$controls-color: (
        default: (
                inactive: map-get($ui-colors, 'grey-light'),
                hover: map-get($ui-colors, 'black'),
                focus: map-get($ui-colors, 'black'),
                disable: map-get($ui-colors, 'grey-light'),
                text: map-get($ui-colors, 'grey-light'),
                bg: map-get($ui-colors, 'light')
        ),
        light: (
                inactive: map-get($ui-colors, 'light'),
                hover: #e5e5e5,
                focus: #ccc,
                disable: map-get($ui-colors, 'light'),
                text: map-get($ui-colors, 'light'),
                bg: #000
        ),
        success: (
                inactive: #999,
                hover: #999,
                focus: #999,
                disable: map-get($ui-colors, 'grey-light'),
                text: #999,
                bg: map-get($ui-colors, 'light')
        ),
        error: (
                inactive: #ff0000,
                hover: #ff0000,
                focus: #ff0000,
                disable: map-get($ui-colors, 'grey-light'),
                text: #ff0000,
                bg: map-get($ui-colors, 'light')
        )
);

// Typ

$font-size-base: 15px;

$font-family-proxima: 'Proxima Nova';
$font-family-base: $font-family-proxima, sans-serif;

$link-color: map-get($ui-colors, 'color-orange');
$link-hover-color: map-get($ui-colors, 'color-orange-light');

$action-color: map_get($ui-colors, 'color-grey-semidark');
$action-hover-color: map_get($ui-colors, 'color-grey-light');

$header-1: 35px;
$header-2: 20px;
$header-3: 16px;
$header-4: 15px;

$price-1: 25px;
$price-2: $header-2;
$price-3: $header-2;
$price-4: $font-size-base;

$font-size-lg: 16px;
$font-size-md: 15px;
$font-size-sm: 14px;
$font-size-xs: 13px;

// Form

$border-radius-base: 3px;
$input-border: #f0f0f0;
$input-border-focus: $input-border;
$input-height-small: 35px;
$input-height-base: 45px;
