@charset "UTF-8";

@import "variables";
@import "fonts/proxima.nova.scss";
@import "bootstrap";
@import "../../bower_components/sass-helper/dist/sass-helper";
@import "mixin";
@import "function";
@import "mixins/forms";
@import "mixins/typography";

@import "gradient";

/*
.block {
    @at-root #{&}__element {
    }
    @at-root #{&}--modifier {
    }
}
*/

// Components

@import "components/header";
@import "components/btn";
@import "components/forms";
@import "components/color";
@import "components/typography";
@import "components/panel";
@import "components/cart";
@import "components/dropdown";
@import "components/nav";
@import "components/navbar";

// Layout block

@import "blocks/common/example";

// Partials block

// Page block

@import "helper";